/* Common */
/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  tab-size: 4; /* 3 */
}

/*
Sections
========
*/

body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

body {
  padding-top: 10px;
  /* padding-bottom: 140px; */
  /* font-family: "DM Sans", sans-serif; */
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
  color: black;
}

a,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* END of Common */

/* Variables */
:root {
  /* --logo-main-color: #3d3d3d; */
  /* --main-color: #1b4736; */
  --main-color: #000;
  --primary-white-color: #fff;
  --primary-green: #059473;

  /* --logo-main-color: #1b4736; */
  --logo-main-color: #000;

  --hover-text-color: rgba(235, 114, 15, 0.664);
  --hover-btn-text-color: #eefffd;
  --hover-btn-bg-color: #1b4736;

  --animation-style: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */
.page-header {
  /* border-bottom: 1px solid var(--main-color); */
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 140px;
  border-top: 4px solid var(--primary-green);

  /* padding: 20px 20px; */
}

/* Logo */
.logo {
  display: inline-flex;
  align-items: center;
}

.logo__icon {
  fill: var(--logo-main-color);

  transition: fill 250ms var(--animation-style);
}

.logo__text {
  margin-left: 6px;

  font-family: "Fira Sans Condensed", sans-serif;

  font-size: 26px;
  /* font-weight: 0; */
  color: var(--logo-main-color);

  transition: color 250ms var(--animation-style);
}

.logo:hover .logo__icon,
.logo:hover .logo__text {
  color: var(--primary-green);
  fill: var(--primary-green);
}

/* Navigator */
.nav__list {
  display: inline-flex;
}

.nav__item {
  display: block;
}

.nav__item:not(:last-child) {
  margin-right: 26px;
}

.nav__link {
  display: flex;
  width: inherit;
}

.nav__text {
  display: flex;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;

  transition: color 250ms var(--animation-style),
    border-bottom-color 250ms var(--animation-style);

  /* outline: 1px solid green; */
}

.nav__item:hover .nav__text {
  color: var(--primary-green);
  /* border-bottom: 1px solid var(--hover-text-color); */
}

.nav__text--current {
  position: relative;
  color: var(--primary-green);
  font-weight: 600;
}

.nav__text--current::after {
  position: absolute;
  bottom: -6px;
  left: 0;
  /* transform: translateY(250%); */

  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background-color: var(--primary-green);
  border-radius: 2px;
}

/* Hero */

.hero {
  max-width: 1280px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/hero3.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: darkgrey;
}

.hero__container {
  position: relative;
}

.hero__headline-container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 46px;
  background-color: var(--primary-green);
}

.hero__headline-text {
  font-family: "Fira Sans Condensed", sans-serif;

  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

/* About us */
.about-us {
  position: relative;
  height: 220px;
}

.about-us__container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  padding-top: 40px;

  transform: translateX(-50%);

  width: 1000px;
  height: 260px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--primary-white-color);
  border-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.about-us__headline {
  text-align: center;
  margin-top: 0;
  margin-bottom: 32px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
}

.about-us__list {
  display: flex;
  justify-content: center;
  font-family: "Fira Sans Condensed", sans-serif;
}

.about-us__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  width: 160px;
}

.about-us__item:not(:last-child) {
  margin-right: 80px;
}

.about-us__icon {
  margin-bottom: 20px;
  fill: var(--primary-green);
}

/* News */
.news {
  width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}

.news__link {
  display: flex;
  transition: color 250ms var(--animation-style);
}

.news__link:hover {
  color: var(--primary-green);
}

.news__headline {
  text-align: center;
  margin-top: 0;
  margin-bottom: 32px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
}

.news__item:not(:last-child) {
  margin-bottom: 18px;
}

.news__date {
  display: flex;
  min-width: 90px;

  /* outline: 1px solid tomato; */
}

.article-title {
  text-align: left;
}

.news__all-news-link {
  display: inline-block;
  /* height: 100%; */
  margin-top: 36px;
}

.news__all-news-headline {
  display: inline;
  font-weight: 400;

  transition: color 250ms var(--animation-style);
}

.news__all-news-headline:hover {
  color: var(--primary-green);
}

/* Contacts: Schedule, Write Us, Map  */
.contacts {
  padding: 20px 20px;
  background-color: var(--primary-green);
}

.contacts__container {
  display: flex;
  justify-content: space-between;
}

.contacts__block {
  padding-left: 40px;
  /* outline: 1px solid tomato; */
}

.contacts__headline {
  margin-top: 0;
  margin-bottom: 32px;
  font-family: "Fira Sans Condensed", sans-serif;
  color: var(--primary-white-color);
  font-weight: 400;
}

.contacts__list {
  display: flex;
}

.contacts__item {
  line-height: 1.4;
  color: var(--primary-white-color);
}

.contacts__item:not(:last-child) {
  margin-right: 40px;
}

.write-us {
  position: relative;
  display: flex;

  align-items: center;

  outline: 1px solid tomato;
}

.contacts__write-us {
  margin-top: 40px;
}

.write-us__textarea {
  position: absolute;
  top: 0;
  display: inline-flex;
  align-items: center;
  width: 540px;
  height: 40px;
  padding-left: 20px;

  border-radius: 4px;
  resize: none;
}

.write-us__textarea::placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.write-us__button {
  position: absolute;
  right: 4px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 32px;
  color: var(--primary-white-color);
  background-color: var(--primary-green);
  border: none;
  border-radius: 4px;

  transition: color 250ms var(--animation-style),
    background-color 250ms var(--animation-style);
}

.write-us__button:hover {
  /* 
  background-color: var(--primary-white-color);
  color: var(--primary-green); */

  background-color: #059473a1;
}

.contacts__map {
  /* margin-left: auto; */
}

/* Footer */

.footer {
  padding: 20px 20px;
}

.logo__text--footer {
  font-size: 18px;
}

.footer__content {
  display: flex;
  justify-content: space-between;

  margin-top: 8px;
  padding-left: 40px;
  /* padding-right: 180px; */
}

.footer__paragraph {
  margin: 0;
}

.footer__link {
  display: flex;
  align-items: center;

  transition: color 250ms var(--animation-style);
}

.footer__icon {
  margin-right: 8px;
  transition: fill 250ms var(--animation-style);
}

.footer__link:hover {
  color: var(--primary-green);
  fill: var(--primary-green);
}

/* .footer__contacts {
  margin-left: 120px;
}

.footer__security {
  margin-left: 120px;
} */

.footer__paragraph:not(:last-child) {
  margin-bottom: 6px;
}
