/* Variables */
:root {
  /* --logo-main-color: #3d3d3d; */
  /* --main-color: #1b4736; */
  --main-color: #000;
  --primary-white-color: #fff;
  --primary-green: rgb(5, 148, 115);
  /* --logo-main-color: #1b4736; */
  --logo-main-color: #000;

  --hover-text-color: rgba(235, 114, 15, 0.664);
  --hover-btn-text-color: #eefffd;
  --hover-btn-bg-color: #1b4736;

  --animation-style: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */
.page-header {
  /* border-bottom: 1px solid var(--main-color); */
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 140px;
  border-top: 4px solid var(--primary-green);

  /* padding: 20px 20px; */
}

/* Logo */
.logo {
  display: inline-flex;
  align-items: center;
}

.logo__icon {
  fill: var(--logo-main-color);

  transition: fill 250ms var(--animation-style);
}

.logo__text {
  margin-left: 6px;

  font-family: "Fira Sans Condensed", sans-serif;

  font-size: 26px;
  /* font-weight: 0; */
  color: var(--logo-main-color);

  transition: color 250ms var(--animation-style);
}

.logo:hover .logo__icon,
.logo:hover .logo__text {
  color: var(--primary-green);
  fill: var(--primary-green);
}

/* Navigator */
.nav__list {
  display: inline-flex;
}

.nav__item {
  display: block;
}

.nav__item:not(:last-child) {
  margin-right: 26px;
}

.nav__link {
  display: flex;
  width: inherit;
}

.nav__text {
  display: flex;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;

  transition: color 250ms var(--animation-style),
    border-bottom-color 250ms var(--animation-style);

  /* outline: 1px solid green; */
}

.nav__item:hover .nav__text {
  color: var(--primary-green);
  /* border-bottom: 1px solid var(--hover-text-color); */
}

.nav__text--current {
  position: relative;
  color: var(--primary-green);
  font-weight: 600;
}

.nav__text--current::after {
  position: absolute;
  bottom: -6px;
  left: 0;
  /* transform: translateY(250%); */

  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background-color: var(--primary-green);
  border-radius: 2px;
}

/* Hero */

.hero {
  max-width: 1280px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/hero3.PNG);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: darkgrey;
}

.hero__container {
  position: relative;
}

.hero__headline-container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 46px;
  background-color: var(--primary-green);
}

.hero__headline-text {
  font-family: "Fira Sans Condensed", sans-serif;

  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

/* About us */
.about-us {
  position: relative;
  height: 220px;
}

.about-us__container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  padding-top: 40px;

  transform: translateX(-50%);

  width: 1000px;
  height: 260px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--primary-white-color);
  border-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.about-us__headline {
  text-align: center;
  margin-top: 0;
  margin-bottom: 32px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
}

.about-us__list {
  display: flex;
  justify-content: center;
  font-family: "Fira Sans Condensed", sans-serif;
}

.about-us__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  width: 160px;
}

.about-us__item:not(:last-child) {
  margin-right: 80px;
}

.about-us__icon {
  margin-bottom: 20px;
  fill: var(--primary-green);
}

/* News */
.news {
  width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}

.news__link {
  display: flex;
  transition: color 250ms var(--animation-style);
}

.news__link:hover {
  color: var(--primary-green);
}

.news__headline {
  text-align: center;
  margin-top: 0;
  margin-bottom: 32px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
}

.news__item:not(:last-child) {
  margin-bottom: 18px;
}

.news__date {
  display: flex;
  min-width: 90px;

  /* outline: 1px solid tomato; */
}

.article-title {
  text-align: left;
}

.news__all-news-link {
  display: inline-block;
  /* height: 100%; */
  margin-top: 36px;
}

.news__all-news-headline {
  display: inline;
  font-weight: 400;

  transition: color 250ms var(--animation-style);
}

.news__all-news-headline:hover {
  color: var(--primary-green);
}

/* Contacts: Schedule, Write Us, Map  */
.contacts {
  background-color: var(--primary-green);
}

.contacts__container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;

  outline: 1px solid tomato;
}

/* Footer */

.footer {
  padding: 20px 20px;
}

.footer__container {
  display: flex;
}
